<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="css/main.css" />
</head>

<body ng-app="app.facebook">

    <md-content ng-controller="SpamController as vm" layout="column" md-whiteframe="1" style="height: 600px;" md-theme="altTheme">

        <md-toolbar md-scroll-shrink="">
            <div class="md-toolbar-tools">
                <h2>          <span>AutoPost</span>        </h2>
                <span flex="">
                </span>
                <div>
                    <fb:login-button scope="public_profile,publish_actions,user_groups" onlogin="checkLoginState();">
                    </fb:login-button>
                    <h1>{{vm.usuariologado}}</h1>
                </div>
            </div>
        </md-toolbar>



        <section>
            <md-subheader class="md-primary">
                <span ng-show="!vm.sending">{{vm.countSelectedGroups()}} Grupo(s) Selecionado(s).</span>
                <span ng-show="vm.sending">Enviando... <i class="fa fa-circle-o-notch fa-spin"></i></span>
            </md-subheader>

            <md-list layout-padding="">
                <md-list-item ng-repeat="group in vm.listGroups">
                    <div class="md-list-item-text">
                        <p>{{group.name}}
                            <i ng-if="group.done" class="material-icons">done</i>
                            <md-checkbox ng-if="!vm.sending" ng-model="group.select" class="md-secondary"></md-checkbox>
                        </p>
                    </div>
                </md-list-item>
            </md-list>
        </section>


        <form name="vm.form">
            <md-input-container class="md-block">
                <label>Mensagem</label>
                <textarea ng-model="vm.message" md-maxlength="150" rows="5" name="message" ng-required="true"></textarea>
            </md-input-container>

            <md-input-container md-no-float>


            </md-input-container>
            <md-button>
                Escolha uma imagem.
                <div class="uploadArea">
                    <input id="fileInput" type="file" onchange="angular.element(this).controller().upload(this)" accept="image/*" />
                    <span ng-if="vm.sendingImage">Enviando... <i class="fa fa-circle-o-notch fa-spin"></i></span>
                    <span ng-if="vm.imageSended">Imagem Enviada<i class="material-icons">done</i></span>
                </div>
            </md-button>
        </form>
        <md-button ng-click="vm.SendMessage()" class="md-raised md-primary" ng-disabled="vm.form.$invalid"> Enviar Mensagem para os Grupos</md-button>
    </md-content>

    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-animate/angular-animate.js"></script>
    <script src="node_modules/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="node_modules/angular-material/angular-material.js"></script>
    <script src="node_modules/angular-messages/angular-messages.js"></script>
    <script src="scripts\imgurService.js"></script>
    <script src="scripts\app.js"></script>
    <script src="scripts\FacebookController.js"></script>


</body>

</html>